.logo{ 
    width:30px; 
    height: 28px; 
}
li{ 
    text-decoration: none;
    list-style-type: none; 
    display: block; 
    margin-left: 10px;
    margin-right: 10px;    
    margin-top:7px;   
} 
li a { 
    color: black; 
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
} 
ul { 
    display: flex; 
    flex-direction: row;   
} 
nav a:hover{ 
    color: #626262;  
}  
form .btn{ 
    border-color:#7456c0;   
    color: #7456c0;  
    font-family: 'Montserrat', sans-serif;
} 
form .btn:hover{ 
    color: #ffff; 
    background-color: #7456c0; 
    border-color: #7456c0;
}  
form .btn:active{ 
    background-color: #7456c0;
}
.Top{ 
    height: 60px;  
    background-color: #ffffff;   
    border-bottom: 1px solid #9c9c9c;  
    z-index: 2; 
    position: fixed; 
    top:0; 
    width: 100%; 
}    
nav form{   
    position: absolute; 
    right:30%;  
    font-family: 'Montserrat', sans-serif; 
    margin-top:7px;
}
nav .icons {   
    display: inline-block; 
    position: absolute; 
    top: 7px;  
    right: 5px;
}   
.Context h2{ 
    font-family: 'Montserrat', sans-serif;  
    position: absolute;     
    top:20%; 
    left:15%; 
    width: 30%; 
    text-align: left;     
    color:#7456c0; 
} 
.Context p{ 
    color: #626262; 
    font-family: 'Montserrat', sans-serif;  
    position: absolute; 
    top:25%; 
    left:15%; 
    width: 25%; 
    text-align: center;   
}
.img1{    
    position: absolute; 
    top: 8%; 
    right:13%;  
    width:600px; 
    height:350px; 
} 
.Context{ 
    display: inline-block;  
} 
#dropDownMenu{ 
    display: none;
} 
.dropdown-menu{ 
    position: relative; 
    top:40px; 
    right: 2px; 
    font-family: 'Montserrat', sans-serif;
} 
.leftbar{    
    position: absolute; 
    top:56%;   
    left:0; 
    width: 30%; 
    height: auto; 
    background-color: #ffffff;
} 
.sticky{ 
    position: fixed; 
    top:60px;  
    width:30%; 
    left:0; 
}   
.leftbar ul{ 
    display:flex; 
    flex-direction: column;   
} 
.leftbar li{  
    font-family: 'Montserrat', sans-serif;
    display: block;  
    margin:5px;  
    margin-left:35%; 
    padding-left:5%; 
    padding-top:2%; 
    width:60%;  
    height: 40px; 
    border-radius: 5px;  
} 
.leftbar li:hover{ 
    background-color: rgb(242, 238, 247);
    transition: background-color 0.2s; 
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}  
#divider:hover{  
    background-color: #ffffff;  
    box-shadow: none;
} 
#divider hr{  
    color:black; 
} 
.leftbar .bi{ 
    color:silver; 
    margin-right:10px;   
    margin-bottom: 3px;
} 
#dashka{ 
    color:#7456c0;
} 
