{% load static %} 
{% include 'home.html' %}  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
<link rel='stylesheet' href="{% static 'css/ipgeo.css' %}"> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@450&display=swap" rel="stylesheet">  
<div class="map">  
    <img src="{% static 'img/map.png' %}" alt="Map" class="mapImage">
</div> 
<div class="Name">  
    <h2>IP хаягаар байршил тогтоох</h2>      
</div>   
<div class="Body">    
    <form class="d-flex" role="search"> 
        <input class="form-control me-2" type="search" placeholder="IP хаяг оруулна уу" aria-label="Search">
        <button class="btn btn-primary" type="submit">Шалгах</button>
    </form> 
</div>  
