{% load static %}  
{% include 'home.html' %}  
<title>IP geolocation</title> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
<link rel='stylesheet' href="{% static 'css/ipgeo.css' %}"> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@450&display=swap" rel="stylesheet">   
<div class="Name">  
    <h2>IP хаягаар байршил тогтоох</h2>      
</div>   
<div class="Body">    
    <form class="d-flex" role="search" method="POST">  
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="{{ data.query}}" aria-label="Search" name="Theip">
        <button class="btn btn-primary" type="submit" id="Scan">Шалгах</button>
    </form>   
    <div class="Datagrid" id="ipgeo"> 
    <table> 
        <thead>
            <th scope="col">Параметр</th>   
            <th scope="col">Мэдээлэл</th> 
        </thead>  
        <tbody>  
            <tr>   
                <td>IP хаяг</td>  
                <td>{{ data.query}}</td>  
            <tr/>   
            <tr>    
                <td>Статус</td> 
                <td>{{ data.status}}</td> 
            </tr> 
            <tr>  
                <td>Улс</td> 
                <td>{{ data.country}}</td> 
            </tr> 
            <tr>  
                <td>Улсын код</td> 
                <td>{{ data.countryCode}}</td> 
            </tr>   
            <tr>  
                <td>Бүс</td> 
                <td>{{ data.region}}</td> 
            </tr>  
            <tr>  
                <td>Бүсийн нэр</td> 
                <td>{{data.regionName}}</td> 
            </tr>  
            <tr>  
                <td>Хот</td> 
                <td>{{data.city}}</td> 
            </tr>    
            <tr>  
                <td>Зип</td> 
                <td>{{ data.zip}}</td> 
            </tr>  
            <tr>   
                <td>Өргөрөг</td> 
                <td>{{data.lat}}</td> 
            </tr>  
            <tr>  
                <td>Уртраг</td> 
                <td>{{data.lon}}</td> 
            </tr>      
            <tr>  
                <td>Цагийн бүс</td> 
                <td>{{data.timezone}}</td> 
            </tr>  
            <tr>  
                <td>ISP</td> 
                <td>{{data.isp}}</td> 
            </tr>  
            <tr>  
                <td>org</td> 
                <td>{{data.org}}</td> 
            </tr>  
            <tr>    
                <td>as дугаар</td> 
                <td>{{data.as}}</td> 
            </tr>    
        </tbody>  
    </table>  
  </div>  
  <div style="width:100%;height:400px;position:absolute;margin-top:5%;box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);">
    {{ map | safe }} 
  </div>  
</div>       
<div class="footer" > 
    <img src="{% static 'img/logo.png' %}" alt="logo" class="logoFooter">
    <h3>@copyright 2023 Munkhjin's thesis</h3> 
</div>  
  

  

