{% load static %}  
{% include 'home.html' %}  
<title>IP geolocation</title> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
<link rel='stylesheet' href="{% static 'css/ipgeo.css' %}"> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@450&display=swap" rel="stylesheet"> 
<form class="d-flex" id="ipSearch" role="search" method="post">
    {% csrf_token %} 
    <input
      class="form-control me-2"
      type="search"
      placeholder="{{data.query}}"
      aria-label="Search"
      name="Theip"
    />  
    <svg style="position:relative;right:40px;top:10px" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
  </form>       
<div class="Name">  
    <h2>IP хаягаар байршил тогтоох</h2>      
</div>   
<div class="Body">     
</div>  
    <div class="Datagrid" id="ipgeo">  
        <input type="text" class="form-control" id="myInput" onkeyup='tableSearch()' placeholder="Хайх"> 
        <a href="storingip/?ipdata={{data.query}}" class="btn btn-light" id="saveIpgeo"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
          </svg></a>
    <table class="table table-striped" id="mapTable" data-filter-control="true" data-show-search-clear-button="true"> 
        <thead>
            <th scope="col">Field</th>   
            <th scope="col">info</th> 
        </thead>  
        <tbody>  
            <tr>   
                <td>IP хаяг</td>  
                <td>{{ data.query}}</td>  
            <tr/>   
            <tr>    
                <td>Статус</td> 
                <td>{{ data.status}}</td> 
            </tr> 
            <tr>  
                <td>Улс</td> 
                <td>{{ data.country}}</td> 
            </tr> 
            <tr>  
                <td>Улсын код</td> 
                <td>{{ data.countryCode}}</td> 
            </tr>   
            <tr>  
                <td>Бүс</td> 
                <td>{{ data.region}}</td> 
            </tr>  
            <tr>  
                <td>Бүсийн нэр</td> 
                <td>{{data.regionName}}</td> 
            </tr>  
            <tr>  
                <td>Хот</td> 
                <td>{{data.city}}</td> 
            </tr>    
            <tr>  
                <td>Зип</td> 
                <td>{{ data.zip}}</td> 
            </tr>  
            <tr>   
                <td>Өргөрөг</td> 
                <td>{{data.lat}}</td> 
            </tr>  
            <tr>  
                <td>Уртраг</td> 
                <td>{{data.lon}}</td> 
            </tr>      
            <tr>  
                <td>Цагийн бүс</td> 
                <td>{{data.timezone}}</td> 
            </tr>  
            <tr>  
                <td>ISP</td> 
                <td>{{data.isp}}</td> 
            </tr>  
            <tr>  
                <td>Org</td> 
                <td>{{data.org}}</td> 
            </tr>  
            <tr>    
                <td>As нэр</td> 
                <td>{{data.as}}</td> 
            </tr>     
            <tr>  
                <td><b>Шалгалт хийсэн хугацаа</b></td>  
                <td>{{time.created_at}}</td> 
            </tr>
        </tbody>  
    </table>  
  </div>  
  <div style="width:55%;height:400px;position:absolute;margin-top:53%;left:35%;box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);">
    {{ map | safe }} 
  </div>   
  <div style="height:40px"></div>
</div>         
<script> 
    function tableSearch() {
        let input, filter, table, tr, td, txtValue;

        //Intialising Variables
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("mapTable");
        tr = table.getElementsByTagName("tr");

        for (let i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

    }
</script> 

  

  

