{% extends "base_bootstrap.html" %}

{% block content %} 
<div class="form-control" style="box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24); padding:2em;background-color: rgb(242, 238, 247);"> 
<p>
  <a href="{% url 'form_scanner_view' %}" class="btn" id="btn-back">Буцах</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Зорилтот хост</th>
      <th scope="col">Шалгалт эхлүүлсэн хугацаа</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for scanner in scanner_history %}
    <tr>
      <th scope="row">{{ scanner.id }}</th>
      <td>{{ scanner.target }}</td>
      <td>{{ scanner.created_on }}</td>
      <td>
        <a href="{% url 'host_list' scanner.id %}" class="btn" id="btn-back">Хостууд харах</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table> 
</div> 

{% endblock %}