{% extends "base_bootstrap.html" %}

{% block content %}
<div class="form-control" style="box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24); padding:2em;background-color: rgb(242, 238, 247);"> 
<p>
  <a href="{% url 'scanner_type' scanner_history.type %}" class="btn" id="btn-back">Буцах</a>
</p>

<p>
  <strong>Зорилтот хост: </strong> {{ scanner_history.target }}
</p>
<p>
  <strong>Шалгалтыг эхлүүлсэн хугацаа: </strong> {{ scanner_history.created_on }}
</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">IP</th>
      <th scope="col">Mac address</th>
      {% if scanner_history.type  == 'FS' %}
      <th scope="col">OS matches</th>
      <th scope="col">ports</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for host in hosts %}
    <tr>
      <th scope="row">{{ host.id }}</th>
      <td>{{ host.IP }}</td>
      <td>{{ host.mac_address }}</td>
      {% if scanner_history.type  == 'FS' %}
      <td>
        <a href="{% url 'os_matches_list' scanner_history.id host.id %}" class="btn" id="btn-back">View os matches</a>
      </td>
      <td>
        <a href="{% url 'host_ports_list' scanner_history.id host.id %}" class="btn" id="btn-back">View ports</a>
      </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table> 
</div>

{% endblock %}