 {% extends "base_bootstrap.html" %}   
 {% load static%}
{% block content %}     

<style>
    #scanner_form{ 
        width:60%;
    } 
    #scanner_button{ 
        color: #fff; 
        background-color: blueviolet; 
        margin-top:3%;   
    } 
    #scanner_button:hover{ 
        background-color: rgb(242, 238, 247);
        transition: background-color 0.2s;   
        color: #454545;  
        border-color: rgb(242, 238, 247);
    }  
    .my-type{
        padding:5% 0; 
    }  
    #id_target{   
        margin-bottom:5%;  
        margin-top:2%; 
    } 
    .form-check{ 
        margin:5px 0;   
    }   
</style> 
<body> 
<br />
<div id="spinner"></div> 
<div class="form-control" style="box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24); padding:2em;background-color: rgb(242, 238, 247);"> 
<p>
    {% load crispy_forms_tags %}
    <form method="post" action="{% url 'post_form_scanner' %}" id="scanner_form" >
        {% csrf_token %}
        {{ scanner_form|crispy }}
        <input type="submit" value="Шалгах" class="btn" id="scanner_button">
    </form>
</p>
<p>
    <a href="{% url 'scanner_type' 'QS' %}">Бүрэн шалгалтын хариуг харах</a>
</p>
<p>
    <a href="{% url 'scanner_type' 'FS' %}">Хурдан шалгалтын хариуг харах</a>
</p> 
</div>  
<!--https://stackoverflow.com/questions/1960240/jquery-ajax-submit-form-->
<!--https://django-crispy-forms.readthedocs.io/en/latest/crispy_tag_forms.html#ajax-validation-recipe-->
<script type="text/javascript">
    $( document ).ready(function() {
      $('#scanner_button').click(function (event) {
        event.preventDefault();
        var scanner_form = '#scanner_form';

        $.ajax({    
            url: "{% url 'post_form_scanner' %}",
            type: "POST",
            data: $(scanner_form).serialize(),
            datatype: 'json',
            header: {'X-CSRFToken': '{% csrf_token %}'},
            beforeSend: function () {
                //https://getbootstrap.com/docs/4.4/components/spinners/
                $('#spinner').html('<div class="d-flex align-items-center"><strong>Шалгалт хийгдэж байгаа тул түр хүлээнэ үү...</strong><div class="spinner-border" role="status" aria-hidden="true" style="width: 3rem; height: 3rem; color:#6495ED;position:absolute; margin-left:40%;margin-bottom:5%"></div></div>')
            },
            success: function(data) {
                if (!(data['success'])) {
                    
                    alert("An error has occurred");
                }
                else {
                    
                    alert("The network has been scanned successfully");
                }
            },
            complete: function () {
                $('#spinner').empty(); 
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.responseText);
            }
        });
      });
     });
  </script>
{% endblock %} 
